*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Gabarito','sans-serif';
}
.navbar{
    padding:10px;
    display:flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap:20px;
    align-items :center;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.navbar__s1__title{
    color: #A435F0;
}
.navbar__s2{
    padding:10px;
    border:solid black 1px;
    border-radius:30px;
    width:60%;
    display: flex;
    gap:10px;
    align-items: center;
    background-color: white;

}
.navbar__s2 input{
    border:none;
    width:100%;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline:none;
}
.navbar__s3{
    display:flex;
    gap:20px;
    align-items: center;
}
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    width:100px;
    border: solid black 2px;
    padding:15px;
    right:5px;
    display:none;
}
.mylearning:hover .mylearning__popup{
    display:block
}
.categories{
    display:flex;
    justify-content: space-between;
    padding:10px;
    border-bottom: solid black 1px;

}
.categories p:hover{
    transition-duration: 2s;
    background-color: azure;
    color:#A435F0;
    border: solid blanchedalmond 2px;
    border-radius: 5px;
    cursor:grabbing;
}
.categories p{
    padding:10px;
    background-color: #A435F0;
    color: white;
    border-radius: 20px;
    border: solid blanchedalmond 2px;
}
.sale__img{
    position: relative;
}
.sale__img img{
    width:100%;
    
}
.sales__one{
   background-color: aliceblue;
    border: solid black 3px;
    border-radius: 50px;
    padding: 30px;
    width: 300px;
    position: absolute;
    top:20%;
    left:10%;
    animation-name: rotate;
    opacity:0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes rotate{
    0%{
        transform:scale(10px);
        opacity:0;
    }
    50%{
        transform: rotate(360deg);
        opacity:1;
    }
    100%{
        transform: translate3d(10px);
        opacity:1;
    }
   
}
.recommended{
    padding:10px;
}
.recommended__container{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: 10px;
}
.course-card{
    width: 200px;
    border: solid black 5px;
    border-radius: 8px;
    margin: 15px;
    padding: 5px;

}
.course-card img{
    height:50%;
    width:100%;
}
.course-card-1{
    width: 200px;
    
}
.course-card-1 img{
    height:50%;
    width:100%;
}
/* .course-card del{
    gap:20px;bscb
} */
.topics{
    padding:15px;
}
.topics__container{
   display:flex;
   gap: 10px;
   margin-top: 10px;
   flex-wrap: wrap;
   cursor:pointer;

}
.topics__container p{
    border:solid gray 2px;
    padding:10px;
    flex-grow:1;
    flex-basis: 25%;

}
.popular{
    padding:10px;
}

.popular__container{
    display: flex;
     flex-wrap:wrap;
    justify-content: space-between;
     margin-top: 30px;
 }
 
 
.footer{
    padding:30px;
    background-color: black;
    color: white;
    margin:5px;
}
.footer__one{
    display:flex;

    gap: 20px;
}
.footer__one p{
    margin:20px;
}
.footer__two{
    align-items: center;
    display:flex;
    justify-content:space-between;
}